.subscribe
  padding 45px 30px
  line-height 1
  .ticket
    height 191px
    margin-bottom 22px
    border-radius 10px
    background-color #FF6879
    background-size 100% 100%
    display flex
    align-items center
    color #fff
    .divider
      width 0px
      height 169px
      border 1px dashed #fff
    .left
      display flex
      align-items center
      justify-content center
      flex-direction column
      width 238px
      text:first-child
        font-size 95px
        margin-bottom 13px
      text:last-child
        font-size 24px
    .intros
      font-size 24px
      flex 1
      line-height 1
      margin-left 27px
      margin-right 36px
      view
        margin-bottom 12px
    .right
      box-sizing content-box
      background-color #FFCC00
      width 30px
      padding-left 14px
      padding-right 14px
      line-height 1
      height 100%
      border-top-right-radius 10px
      border-bottom-right-radius 10px
      font-size 30px
      word-wrap break-word
      display flex
      align-items center
