.page-id-verify
  .uploader-wrapper
    margin 0 30px
  .label
    line-height 83px
    color #575757
    font-size 30px
  .uploader
    width 691px
    height 403px
    background-color rgba(49,49,49,.05)
  .button
    background-color #4978FF
    font-size 30px
    width 543px
    color #fff
    margin 31px auto 0
