.self-center
  .header
    min-height 486px
    background-size cover
    overflow hidden
    display flex
    align-items center
    flex-direction column
    .avatar
      width 183px
      height 183px
      border-radius 50%
      background-size 100% 100%
      margin-bottom 33px
      margin-top 46px
    .first
      align-self flex-start
      position relative
      left 312px
      color #fff
      display flex
      align-items center
      text:nth-child(1)
        font-size 42px
      .female
        width 30px
        height 30px
        background-color #e5e5e5
        margin 0 14px 0 18px
      .idVerify
        font-size 20px
        display flex
        align-items center
        image
          width 22px
          height 22px
          background-color #e5e5e5
          margin-right 5px
    .second
      display flex
      align-items center
      color #fff
      font-size 28px
      .popularity
      .sponsor-value
        display flex
        align-items center
        image
          background-color #e5e5e5
      .popularity
        image
          width 29px
          height 25px
      .sponsor-value
        image
          width 25px
          height 29px
      .divider
        height 40px
        width 1px
        margin 0 19px
        background-color #fff
    .intro
      margin 0 80px 48px 80px
      font-size 22px
      line-height 37px
      color #fff
      text-align center
  .body
    display flex
    flex-flow row wrap
    .item:nth-child(3n-2)
    .item:nth-child(3n-1)
      border-right 1px solid #E5E5E5
    .item
      width 33.3333333333%
      height 157px
      display flex
      flex-direction column
      justify-content center
      align-items center
      font-size 28px
      color #2F2F2F
      border-bottom 1px solid #e5e5e5
      image
        width 60px
        height 60px
        background-color #efefef
        margin-bottom 20px
