.video-edit
  display flex
  flex-direction column
  padding-top 36px
  align-items center
  video
    width 661px
    height 332px
    margin-bottom 161px
  .upload-btn,
  .confirm-btn
    width 543px
    height 86px
    line-height 86px
    font-size 30px
    text-align center
  .upload-btn
    border 1px solid #DDDDDD
    border-radius 4px
    color #626262
    margin-bottom 19px
  .confirm-btn
    background-color #4978FF
    border-radius 4px
    color #fff
