.photo-edit
  padding 0 38px
  .header
    color #626262
    font-size 26px
    margin-top 35px
    margin-bottom 22px
  .img-wrapper
    display flex
    flex-flow row wrap
    margin-bottom 67px
    .item
      position relative
      width 212px
      height 288px
      background-size 100% 100%
      margin-bottom 16px
      view
        width 24px
        height 24px
        position absolute
        right 8px
        bottom 6px
        border 1px solid #D4D4D4
        border-radius 2px
        opacity .8
      .checked
        background-color #4978FF
      .uncheck
        background-color #fff
    .item:nth-child(3n-2),
    .item:nth-child(3n-1)
      margin-right 18px
  .uploader
    width 212px
    height 288px
    margin-bottom 16px
    background-color rgba(49,49,49,.1)
    font-size 77px
    line-height 288px
    text-align center
    color #D8D8D8
  .confirmBtn,
  .cancelBtn
    width 543px
    height 86px
    line-height 86px
    border-radius 4px
    color #fff
    font-size 30px
    text-align center
    background-color #4978FF
    margin 0 auto
    margin-top 10px
  .cancelBtn
    color #626262
    border 1px solid #DDDDDD
    color #626262
    background-color #fff
  .confirmBtn
    margin-bottom 121px
