.page-edit-3
  min-height 100vh
  .wrapper
    width 100%
    display flex
    flex-flow row wrap
    .item
      width 212px
      margin 0 19px
      height 288px
      background-image url('http://yun.tuia.cn/tuia/jimo-web-pro/masker@2x.png')
      margin-bottom 30px
      image
        width 100%
        height 100%
  .btn-group
    width 543px
    margin 81px auto 69px auto
    view:first-child
      margin-bottom 21px
    .confirm
      background-color #4978FF
      color #fff
    .cancel
      color #626262
      border 1px solid #DDDDDD
