.experiences-wrapper
  .item
    position relative
    margin-bottom 30px
    .name
      font-size 32px
      color #101010
      margin-bottom 27px
    >view.content
      display flex
      font-size 28px
      color #585858
      margin-bottom 10px
      image
        width 28px
        height 28px
        margin-right 20px
      >view
        display flex
        align-items center
      >view:first-child
        width 240px
      >view:last-child
        flex 1