.page-exp-edit
  position relative
  .close-wrapper
    display flex
    margin-left 30px
    .close-btn
      font-size 40px
      color #a6a6a6
      padding-right 20px
      line-height 1.5
      border-bottom 1rpx solid #eee
      display flex
      align-items center
    picker
      flex 1
  .year
    margin-left 0
    .form-item-label
      color #010101
      font-size 38px
    .form-item-info
      color #A6A6A6
      font-size 26px
      text-align right
      margin-right 15px
  .add-wrapper
    margin 55px 100px
    .add-exp
      border 1px solid #DDDDDD
      background-color #F5F5F5
      color #414141
      font-size 26px
      height 72px
      line-height 72px
      display flex
      align-items center
      justify-content center
      view
        font-size 55px
        height 30px
        line-height 18px
  .other-exp
    .form-item
      .form-item-label
        color #010101
        font-size 30px
        font-weight bold
    textarea
      margin 0 auto
      width 680px
      min-height 125px
      height auto
      color #3E3E3E
      font-size 24px
    .divider-horizontal
      width 690px
      margin 0 auto
      height 2px
      background #eee
      margin-top 45px
  .bottom-btn
    margin 75px auto
    background-color #4978FF
    color #ff
    font-size 30px
    width 543px
