.page-advice
  background-color #F8F8F8
  height 100vh
  .textarea-wrapper
    background-color #fff
    padding 38px 30px
    height 385px
    textarea
      width 100%
      height 100%
      font-size 26px
      line-height 30px
      color #555
  view.divider-horizontal
    height 22px
    background-color #F8F8F8
    width 100%
  .input-wrapper
    background-color #fff
    padding 35px 30px
    font-size 26px
    line-height 44px
    color #555
  .btns-wrapper
    margin-top 114px
    .button
      width 543px
      margin 0 auto
    .submit
      background-color #4978FF
      color #fff
    .cancel
      background-color transparent
      border 1px solid #DDDDDD
      color #626262
      margin-top 23px
