.search
  padding 0 28px
  .search_input
    height 80px
    background-color #EEEEEE
    display flex
    justify-content space-between
    align-items center
    border-radius 40px
    padding 0 38px
    margin-bottom 39px
    input
      color #000
      font-size 26px
      margin-left 20px
      width 88%
  .help-wrapper
    display flex
    flex-flow row wrap
    view
      width 124px
      height 43px
      border 1px solid rgba(83,83,83,1)
      opacity 0.74
      border-radius 22px
      font-size 24px
      line-height 43px
      color rgba(128,128,128,1)
      text-align center
      margin-right 15px
  .models-wrapper
    display flex
    flex-flow row wrap
    justify-items space-between
    justify-content space-between
    model-card
      margin-bottom 46px
