.info-basic-edit
  .divider
    height 22px
    background-color #F8F8F8
  .btn-group
    width 543px
    margin 81px auto 69px auto
    view:first-child
      margin-bottom 21px
    .confirm
      background-color #4978FF
      color #fff
    .cancel
      color #626262
      border 1px solid #DDDDDD
  .modal-inner
    width 538px
    .body
      min-height 244px
      display flex
      justify-content center
      align-items center
      background-color #fff
      border-top-left-radius 10px
      border-top-right-radius 10px
      input
        text-align center
        margin 0 auto
        color #555
        font-size 32px
    .footer
      height 80px
      line-height 78px
      display flex
      .button
        width 50%
        font-size 32px
        border-radius 0
      .confirm
        background-color #499FFF
        border-bottom-left-radius 10px
        color #fff
      .cancel
        background-color #F1F0F0
        border-bottom-right-radius 10px
        color #8A8A8A
