form-item
  view.form-item
    min-height 89px
    padding 0 5px
    display flex
    align-items center
    border-bottom 1px solid #EEEEEE
    margin 0 30px
    &-label
      width 140px
      margin-right 20px
      color #575757
      font-size 30px
    &-info
      flex 1
      font-size 30px
      color #0A0A0A
      margin-right 44px
    &-suffix
      width 15px
      height 26px
      background-size 100% 100%
  view.form-item.flex-start
    padding-top 32px
    align-items flex-start
    padding-bottom 32px
    .form-item-suffix
      margin-top 8px
  view.form-item.no-border
    border-bottom none
